.myCard img {
  height: 118px;
}

.myCard {
  max-width: 208px;
  cursor: pointer;
}

.cardHeight {
  height: 245px;
}
.imgHeight {
  height: 118px;
}
.minWidth {
  min-width: 206px;
}

@media (max-width: 765px) {
  .cardHeight {
    height: max-content;
  }
  .imgHeight {
    height: 86px;
  }
  .myCard {
    position: relative;
    z-index: 99 !important;
  }
}

@media (max-width: 585px) {
  .myCard img {
    height: 86px;
  }

  .minWidth {
    min-width: 170px;
  }
  .myCard {
    max-width: 170px !important;
    cursor: pointer;
  }
  .myCard {
    border: none;
  }
  .myCard {
    background-color: transparent;
  }
}
