.price {
  display: block;
  margin-top: -5px;
}

.bgTrinary {
  background-color: #d5d5d5;
}

.productItem {
  border-radius: 8px;
}

.quantity svg {
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.galleryItems {
  width: 65px;
  height: 65px;
  overflow: hidden;
}
.btnSize {
  width: 40px;
}

.btnSize:hover {
  background-color: #dc3545;
  border-color: transparent !important;
  color: #ffffff;
}

.galleryItems img {
  cursor: pointer;
}
#product .card {
  max-width: 208px;
  cursor: pointer;
}

.colorOption:hover {
  border: inherit !important;
}

@media (max-width: 765px) {
  .btnSize {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
  }
  .productName {
    margin-top: 10px;
  }
}
